.jumbotron {
  text-align: center;
  background-color:lightblue;
  opacity: .75;
  color: black;
}

body {
  background-image: url("../img/background3.gif");
  background-size: cover;
  height: 100%;
}

.content {
  background-color: #ff9980;
  opacity: .7;
  height: 100vh;
  padding-left: 30px;
  border-radius: 20px;
}

.pizzaPage, .resultPage, .pizzaDetails {
  display: none;
}

.pizzaItem {
  cursor: pointer;
  color: #0088cc;
}

.pizzaItem:hover {
  text-decoration: underline;
}

.cost {
  font-weight: bold;
  font-size: 24px;
}
